@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: hsl(0, 100%, 74%);
    font-family: Poppins;
}

.direct-message {
    
}

main {
    width: 500px;
    left: 500px;
}

form {
    
}

form label {
    display: flex;
    font-size: 16px;

}

form input {
    display: ;
    margin: 0 0 20px;
    padding: 10px 150px; 
}
.form {
    background-color: white;
    left: 500px;
}
#firstname {

}

#lastname {

}

#email {

}

#password {

}

#submit {
    background-color: hsl(154, 59%, 51%);
    text-transform: uppercase;
}